@import{<link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" 
rel="stylesheet">}


body{
  margin: 0px;
  margin-top: 10px;
  background-color: blue;
  text-align: center;
  margin-top: 100px;
   background-image: url('../img/background.jpg');
   font-family: 'Monoton', cursive;
}
h2{

  font-size: 30px;
}
.scoreboard{
  text-align: center;
  display: inline-block;

}
#score{
  /*background-color: white;*/
  margin: 5px;

  font-size: 30px;
  text-align: center;
}

.row{

}
.column{
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  /*background-color: white;*/
  margin-top: 0;
  padding: 0;
  vertical-align: top;
  color: transparent;

}
.column:hover{
background-color: white;
border-radius: 10px;
opacity: 0.3;;
}
#col0, #col1, #col2, #col3,#col4,#col5{
border-bottom: 5px solid white;
}
#col2, #col5, #col8, #col1,#col4,#col7{
border-left: 5px solid white;*/
}

button{
  padding: 20px;
  font-size: 20px;
  margin-top: 10px;

}
.win{
  background-color: red;
  /* background-image: */
}
.imgeX, .imgeO{
  background-image:url(xImg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.imgeO{
  background-image:url(oImg.png);
}
.scoreO{
  padding-right: 400px; 
  display: inline-block; 
}
.scoreX{
   padding-left: 400px; 
  display: inline-block;
}