body{
  margin: 0px;
  margin-top: 10px;
  background-color: blue;
  text-align: center;
  margin-top: 100px;
}
h2 #gameMessage{
  font-size: 50px;

}
.scoreboard{
  text-align: center;
  display: inline-block;

}
#score{
  background-color: white;
  margin: 5px;

  font-size: 30px;
  text-align: center;
}

.row{

}
.column{
  display: inline-block;
  width: 80px;
  height: 70px;
  text-align: center;
  background-color: white;
  margin-top: 2px;
  padding: 30px;
  vertical-align: top;

}
button{
  padding: 20px;
  font-size: 20px;
  margin-top: 10px;

}
.win{
  background-color: red;
  /* background-image: */
}
.imgeX{
  background-image:url(xImg.png);
}
.imgeO{
  background-image:url(oImg.png);
}
