
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
} */

/* .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eee;
} */

h1 {
  
    text-align: center;
    font-weight: lighter;
    font-size: 62px;
    margin: 40px auto;
  
    /* metal theme */
    font-family: 'Josefin Sans', sans-serif;
    color: #a3a3a3;
    letter-spacing: 10px;
    text-shadow: -5px 2px 6px;
  
  
}

h2 {
  margin-top: 1em;
  font-size: 2rem;
  margin: -30px 0px 0 160px;
}

.play-area {
  /* clean silver border */
  border: 10px solid rgba(190, 190, 190, 0.94);
  border-left-color: rgba(136, 136, 136, 0.94);
  border-bottom-color: rgba(136, 136, 136, 0.94);
  background-image: url(https://images.unsplash.com/photo-1509644851169-2acc08aa25b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2400&q=80);
  background-color: rgba(136, 136, 136, 0.94);
  box-shadow: -2px 5px 15px;
  height: 206px;
  width: 206px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-size: cover;
  padding: 10px;
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: auto auto auto;
}

.block {
  /* brushed metal version */
  border: 1px solid rgba(194, 194, 194, 0.31);
  border-bottom: 3px solid rgba(88, 88, 88, 0.31);
  /* border-left: 3px solid rgba(88, 88, 88, 0.31); */
  box-shadow: 0px 1px 4px 1px;
  font-size: 77px;
  height: 89px;
  width: 89px;
  margin: 0;
  display: inline-block;
  text-align: center;

  cursor: pointer;
}

.block:hover {
  cursor: pointer;
  background: #0ff30f;
}

.occupied:hover {
  background: #ff3a3a;
}

.win {
  background: #0ff30f;
}

.win:hover {
  background: #0ff30f;
}

#block_0,
#block_1,
#block_2 {
  border-top: none;
}

#block_0,
#block_3,
#block_6 {
  border-left: none;
}

#block_6,
#block_7,
#block_8 {
  border-bottom: none;
}

#block_2,
#block_5,
#block_8 {
  border-right: none;
}

button {
  outline: none;
  border: 4px solid green;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  transition: all 0.2s ease-in-out;
  position: absolute;
  margin: 281px 24px 18px 164px;
  width: 140px;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
  background: green;
  color: white;
}

.playerWin {
  color: green;
}

.computerWin {
  color: red;
}

.draw {
  color: orangered;
}

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 3rem;
    margin-bottom: 0.5em;
  }

  h2 {
    margin-top: 1em;
    font-size: 1.3rem;
  }
}

.container {
  height: 221px;
  width: 505px;

  margin: 0 auto;
  display: block;
}


.scoreBoard {

  display: block;
  height: 68px;
  width: 20px;


}

#scoreBoardLeft {
  margin: 50px 40px 37px -36px;
  float:left;
  padding-top: 104px;
}

#scoreBoardRight {
  margin: 150px 40px 26px 13px;
  float: right;
  
}

.playerNames {
  display: inline-block;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 4px;

  font-size: small;
  padding: 0px 0px 0px 4px;

  margin-top: 5px;
  margin-bottom: 0;

}

.playerCounter {
  display: inline-block;
  text-align: center;
  letter-spacing: 4px;

  font-size: 55px;
  margin: 0 17px 0px 17px;
  padding-left: 3px;
}


#o {  

  /* turn identifier; */
  color: #5490ff;
}

#x {
  /* default */
  color: #d6d6d6;

  /* turn identifier; */
  /* color: #5b9665; */
}


.score {

  display: inline-block;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 6px;
  font-size: small;
  padding: 0px 0px 0px 5px;
  margin-top: 5px;
  margin-bottom: 0;

}


.scoreCount {

  display: inline-block;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 4px;

  margin: 0;
  padding-left: 36px;

}
.counterZero {
  /* metal color */
  color: #d6d6d6;

  display: table;
  margin: 0 auto;
  font-size: 55px;
}

.counterX {
  /* metal color */
  color: #d6d6d6;

  display: table;
  margin: 0 auto;
  font-size: 55px;
}
